<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BluetoothTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BluetoothTerminal.Properties.Settings>
            <setting name="Port1" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Port2" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Baud" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="Text11" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text12" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text13" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text14" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text15" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text21" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text22" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text23" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text24" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Text25" serializeAs="String">
                <value>AT</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </BluetoothTerminal.Properties.Settings>
    </userSettings>
</configuration>